In [238]:
import pandas as pd
import requests

In [239]:
df = pd.read_csv('cleanstations.csv')
df = df.drop(columns=['Unnamed: 0'])
df

      From     To  Distance  Line
0       古城  八角游乐园      1921   1号线
1    八角游乐园    八宝山      1953   1号线
2      八宝山    玉泉路      1479   1号线
3      玉泉路    五棵松      1810   1号线
4      五棵松    万寿路      1778   1号线
..     ...    ...       ...   ...
410    东管头  丽泽商务区       958  14号线
411  丽泽商务区    菜户营       828  14号线
412    菜户营    西铁营      1462  14号线
413    西铁营    景风门       883  14号线
414    景风门   北京南站      1164  14号线

[415 rows x 4 columns]

## What are the shortest and the longest stations in Beijing?

In [240]:
st_shortest = df.sort_values(by=['Distance'], ascending=True).head(5)
st_shortest

     From   To  Distance  Line
9    南礼士路  复兴门       424   1号线
274   高家园  望京南       676  14号线
232   金安桥  北辛安       689  11号线
267   大望路   红庙       708  14号线
205  金台夕照  呼家楼       734  10号线

When finding the longest station, I noticed that most of these long stations are part of the airport express lines. They are less interesting as the airport express are meant to transport passengers quickly to and from the airport. Instead, I created a filter, so that I only look at the normal subway lines.

In [241]:
st_longest = df.loc[(df.Line != "大兴机场线") & (df.Line != "首都机场线")].sort_values(by=['Distance'], ascending=False).head(5)
st_longest

      From     To  Distance  Line
245    望京西     北苑      6720  13号线
365     稻田    大葆台      6466   房山线
358    西二旗  生命科学园      5440   昌平线
353  沙河高教园     南邵      5357   昌平线
338     新宫    西红门      5102   大兴线

## Setting up a network calculator

Through Networkx, I can create a network calculator that tells me the total distance between stations for a specific route.

In [242]:
import networkx as nx
import matplotlib.pyplot as plt

In [243]:
def get_total_length(line_n,station_start,station_end):
    df_start_end = df[(df['Line'] == line_n)]
    
    G = nx.from_pandas_edgelist(df_start_end, source='From', target='To', edge_attr=True)
    length = nx.shortest_path_length(G, station_start, station_end, weight='Distance')
    route = nx.shortest_path(G, station_start, station_end, weight='Distance')
    print(length, route)

## Testing with examples

In [244]:
get_total_length('西郊线','香山','巴沟')

8693 ['香山', '植物园', '万安', '茶棚', '颐和园西门', '巴沟']

In [245]:
get_total_length('4号线','安河桥北','公益西桥')

27309 ['安河桥北', '北宫门', '西苑', '圆明园', '北京大学东门', '中关村', '海淀黄庄', '人民大学', '魏公村', '国家图书馆', '动物园', '西直门', '新街口', '平安里', '西四', '灵境胡同', '西单', '宣武门', '菜市口', '陶然亭', '北京南站', '马家堡', '角门西', '公益西桥']

## Use formula to work on the timeline

In [246]:
df_timeline = pd.read_csv('timeline.csv')
df_timeline

   Line_Name    From      To  Open_Year
0        1号线      古城     四惠东       1969
1        2号线     西直门     东直门       1987
2        2号线     东直门     建国门       1987
3        2号线     建国门     复兴门       1987
4        2号线     复兴门     西直门       1987
5        4号线    安河桥北    公益西桥       2009
6        5号线    天通苑北     宋家庄       2007
7        6号线   海淀五路居      草房       2012
8        6号线      草房      潞城       2014
9        6号线     金安桥   海淀五路居       2018
10       7号线    北京西站     焦化厂       2014
11       7号线     焦化厂      花庄       2019
12       7号线      花庄   环球度假区       2021
13       8号线  森林公园南门     北土城       2008
14       8号线  森林公园南门  回龙观东大街       2011
15       8号线     北土城    鼓楼大街       2012
16       8号线  回龙观东大街     朱辛庄       2013
17       8号线    鼓楼大街    南锣鼓巷       2013
18       8号线     珠市口      瀛海       2018
19       8号线    南锣鼓巷   中国美术馆       2018
20       8号线   中国美术馆     珠市口       2021
21       9号线     郭公庄    北京西站       2011
22       9号线    北京西站   国家图书馆       2012
23      10号线      巴沟      劲松       2008
24      10号线      巴沟      西局       2012
25      10号线      劲松     首经贸       2012
26      10号线     首经贸      西局       2013
27      11号线     金安桥     新首钢       2021
28      13号线     西直门     东直门       2002
29      14号线     张郭庄      西局       2013
30      14号线     金台路     善各庄       2014
31      14号线     金台路      西局       2021
32      15号线     望京西     后沙峪       2010
33      15号线     后沙峪      俸伯       2011
34      15号线  清华东路西口     望京西       2014
35      16号线     北安河      西苑       2016
36      16号线      西苑     甘家口       2020
37      16号线     甘家口   玉渊潭东门       2021
38     大兴机场线      草桥    大兴机场       2019
39       西郊线      香山      巴沟       2017
40       S1线     金安桥      石厂       2017
41       S1线     金安桥     苹果园       2021
42       燕房线      燕山     阎村东       2017
43       大兴线    公益西桥     天宫院       2010
44       昌平线     西二旗      南邵       2010
45       昌平线      南邵   昌平西山口       2015
46       昌平线     清河站     西二旗       2021
47       房山线     大葆台      苏庄       2010
48       房山线     郭公庄     大葆台       2011
49       房山线     阎村东      苏庄       2017
50       房山线    东管头南     郭公庄       2020
51       亦庄线     宋家庄      次渠       2010
52       亦庄线      次渠   亦庄火车站       2018
53       八通线      四惠      土桥       2003
54       八通线      土桥      花庄       2019
55       八通线      花庄   环球度假区       2021
56     首都机场线     东直门   2号航站楼       2008

In [247]:
def get_a_timeline(row):
    
    df_start_end = df[(df['Line'] == row['Line_Name'])]
    
    G = nx.from_pandas_edgelist(df_start_end, source = 'From', target= 'To', edge_attr=True)
    length = nx.shortest_path_length(G, row['From'], row['To'], weight='Distance')
    route = nx.shortest_path(G, row['From'], row['To'], weight='Distance')
    return length

    print(length, route)
    print('-----')

In [248]:
df_timeline['Length'] = df_timeline.apply(get_a_timeline, axis=1)
df_timeline

   Line_Name    From      To  Open_Year  Length
0        1号线      古城     四惠东       1969   27840
1        2号线     西直门     东直门       1987    7922
2        2号线     东直门     建国门       1987    3587
3        2号线     建国门     复兴门       1987    7788
4        2号线     复兴门     西直门       1987    3703
5        4号线    安河桥北    公益西桥       2009   27309
6        5号线    天通苑北     宋家庄       2007   27060
7        6号线   海淀五路居      草房       2012   29894
8        6号线      草房      潞城       2014   12885
9        6号线     金安桥   海淀五路居       2018   10279
10       7号线    北京西站     焦化厂       2014   22838
11       7号线     焦化厂      花庄       2019   14798
12       7号线      花庄   环球度假区       2021    1769
13       8号线  森林公园南门     北土城       2008    3584
14       8号线  森林公园南门  回龙观东大街       2011   10706
15       8号线     北土城    鼓楼大街       2012    3368
16       8号线  回龙观东大街     朱辛庄       2013    6322
17       8号线    鼓楼大街    南锣鼓巷       2013    2090
18       8号线     珠市口      瀛海       2018   16413
19       8号线    南锣鼓巷   中国美术馆       2018    1437
20       8号线   中国美术馆     珠市口       2021    4577
21       9号线     郭公庄    北京西站       2011   10286
22       9号线    北京西站   国家图书馆       2012    5450
23      10号线      巴沟      劲松       2008   23884
24      10号线      巴沟      西局       2012   13610
25      10号线      劲松     首经贸       2012   15889
26      10号线     首经贸      西局       2013    3420
27      11号线     金安桥     新首钢       2021    1539
28      13号线     西直门     东直门       2002   41514
29      14号线     张郭庄      西局       2013   11122
30      14号线     金台路     善各庄       2014   13744
31      14号线     金台路      西局       2021   21812
32      15号线     望京西     后沙峪       2010   19381
33      15号线     后沙峪      俸伯       2011   11052
34      15号线  清华东路西口     望京西       2014    9914
35      16号线     北安河      西苑       2016   19102
36      16号线      西苑     甘家口       2020   10929
37      16号线     甘家口   玉渊潭东门       2021     970
38     大兴机场线      草桥    大兴机场       2019   38331
39       西郊线      香山      巴沟       2017    8693
40       S1线     金安桥      石厂       2017    8242
41       S1线     金安桥     苹果园       2021    1419
42       燕房线      燕山     阎村东       2017   13253
43       大兴线    公益西桥     天宫院       2010   22099
44       昌平线     西二旗      南邵       2010   20955
45       昌平线      南邵   昌平西山口       2015   10797
46       昌平线     清河站     西二旗       2021    1546
47       房山线     大葆台      苏庄       2010   21726
48       房山线     郭公庄     大葆台       2011    1405
49       房山线     阎村东      苏庄       2017    2200
50       房山线    东管头南     郭公庄       2020    5736
51       亦庄线     宋家庄      次渠       2010   21389
52       亦庄线      次渠   亦庄火车站       2018    1334
53       八通线      四惠      土桥       2003   18074
54       八通线      土桥      花庄       2019    2238
55       八通线      花庄   环球度假区       2021    1863
56     首都机场线     东直门   2号航站楼       2008   42082

In [249]:
df_change = df_timeline.groupby(['Open_Year'])['Length'].sum()*2
df_change

Open_Year
1969     55680
1987     46000
2002     83028
2003     36148
2007     54120
2008    139100
2009     54618
2010    211100
2011     66898
2012    136422
2013     45908
2014    118762
2015     21594
2016     38204
2017     64776
2018     58926
2019    110734
2020     33330
2021     70990
Name: Length, dtype: int64

In [250]:
df_change = pd.DataFrame(df_timeline.groupby(['Open_Year'])['Length'].sum()*2/1000)

df_change

            Length
Open_Year
1969        55.680
1987        46.000
2002        83.028
2003        36.148
2007        54.120
2008       139.100
2009        54.618
2010       211.100
2011        66.898
2012       136.422
2013        45.908
2014       118.762
2015        21.594
2016        38.204
2017        64.776
2018        58.926
2019       110.734
2020        33.330
2021        70.990

In [251]:
df_change['Total'] = df_change['Length'].cumsum(axis = 0)
df_change

            Length     Total
Open_Year
1969        55.680    55.680
1987        46.000   101.680
2002        83.028   184.708
2003        36.148   220.856
2007        54.120   274.976
2008       139.100   414.076
2009        54.618   468.694
2010       211.100   679.794
2011        66.898   746.692
2012       136.422   883.114
2013        45.908   929.022
2014       118.762  1047.784
2015        21.594  1069.378
2016        38.204  1107.582
2017        64.776  1172.358
2018        58.926  1231.284
2019       110.734  1342.018
2020        33.330  1375.348
2021        70.990  1446.338

In [252]:
df_change = df_change.reset_index()

df_change = df_change.append({'Open_Year':'2004', 'Length':'0', 'Total':220.856}, ignore_index=True)
df_change = df_change.append({'Open_Year':'2005', 'Length':'0', 'Total':220.856}, ignore_index=True)
df_change = df_change.append({'Open_Year':'2006', 'Length':'0', 'Total':220.856}, ignore_index=True)




df_change

/var/folders/tn/ddzd66z517378n9c45psbsb00000gn/T/ipykernel_17247/3939909719.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_change = df_change.append({'Open_Year':'2004', 'Length':'0', 'Total':220.856}, ignore_index=True)
/var/folders/tn/ddzd66z517378n9c45psbsb00000gn/T/ipykernel_17247/3939909719.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_change = df_change.append({'Open_Year':'2005', 'Length':'0', 'Total':220.856}, ignore_index=True)
/var/folders/tn/ddzd66z517378n9c45psbsb00000gn/T/ipykernel_17247/3939909719.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_change = df_change.append({'Open_Year':'2006', 'Length':'0', 'Total':220.856}, ignore_index=True)

   Open_Year   Length     Total
0       1969    55.68    55.680
1       1987     46.0   101.680
2       2002   83.028   184.708
3       2003   36.148   220.856
4       2007    54.12   274.976
5       2008    139.1   414.076
6       2009   54.618   468.694
7       2010    211.1   679.794
8       2011   66.898   746.692
9       2012  136.422   883.114
10      2013   45.908   929.022
11      2014  118.762  1047.784
12      2015   21.594  1069.378
13      2016   38.204  1107.582
14      2017   64.776  1172.358
15      2018   58.926  1231.284
16      2019  110.734  1342.018
17      2020    33.33  1375.348
18      2021    70.99  1446.338
19      2004        0   220.856
20      2005        0   220.856
21      2006        0   220.856

In [255]:
df_change['Open_Year'] = df_change['Open_Year'].astype(int)

df_change = df_change.sort_values(['Open_Year'])
df_change

    Open_Year   Length     Total
0        1969    55.68    55.680
1        1987     46.0   101.680
2        2002   83.028   184.708
3        2003   36.148   220.856
19       2004        0   220.856
20       2005        0   220.856
21       2006        0   220.856
4        2007    54.12   274.976
5        2008    139.1   414.076
6        2009   54.618   468.694
7        2010    211.1   679.794
8        2011   66.898   746.692
9        2012  136.422   883.114
10       2013   45.908   929.022
11       2014  118.762  1047.784
12       2015   21.594  1069.378
13       2016   38.204  1107.582
14       2017   64.776  1172.358
15       2018   58.926  1231.284
16       2019  110.734  1342.018
17       2020    33.33  1375.348
18       2021    70.99  1446.338

In [256]:
df_change.to_csv('change-by-year.csv')